* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    -webkit-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    font-family: "Trebuchet MS", sans-serif;
}

html {
    font-size: 62.5%
}

.hidden {
    display: none;
}

.center {
    text-align: center;
    margin: 0 auto;
}

#slider {
    width: 350px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: x-large;
    color: #85741E;
}

#title-canvas-pixelized {
    font-size: 1.8rem;
    margin: 2rem auto 0.5em;
    text-align: center;
    color: #85741E;
}

h2 span {
    font-style: italic;
}

#slider-knob {
    background: gold;
    border: 2px #85741E solid;
    width: 3.5rem;
    height: 2.5rem;
    font-size: 2rem;
    top: -100%;
    line-height: 2rem;
}

#canvas {
    border: 10px gold ridge;
}

@media screen and (max-width: 768px) {
    #title-canvas-pixelized {
        margin-top: 15px;
    }
}