* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    -webkit-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    font-family: "Trebuchet MS", sans-serif;
}

html {
    font-size: 62.5%
}

.hidden {
    display: none;
}

.center {
    text-align: center;
    margin: 0 auto;
}

#slider {
    width: 350px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: x-large;
    color: #85741E;
}

#titreCanvasPixelized {
    font-size: 1.8em;
    margin: 2em auto 0.5em;
    text-align: center;
    color: #85741E;
}

#custom-handle {
    background: gold;
    border: 2px #85741E solid;
    width: 2.5em;
    height: 1.6em;
    font-size: 1.4em;
    top: 50%;
    margin-top: -0.7em;
    padding-bottom: 1.1em;
    text-align: center;
    line-height: 1.4em;
}

#canvas {
    border: 10px gold ridge;
}

@media screen and (max-width: 768px) {
    #titreCanvasPixelized {
        margin-top: 15px;
    }
}